@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("glenn-carstens-peters-RLw-UC03Gwc-unsplash-1024x681.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 3em;
}
p{
    font-size: 1.5em;
    padding: 15px 0px;
    text-align: center;
    color: #797979
}

input{
    font-size: 1.1em;
    border: none;
    padding: 10px;
    width: 700px;
}
button{
    border: none;
    color: white;
    padding: 15px;
    width: 120px;
    background-color: rgb(105, 105, 240);
}

button:hover{
    cursor: pointer;
    background-color: rgb(113, 113, 255);
}

input:focus{
    outline:0;
}
.container_lista{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.Lista{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.562);
    height: 400px;
    width: 90%;
}

.Lista li{
    font-size: 1.2em;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #797979;
}

.containericones{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
}

.fa-check {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    color: green;
    font-size: 1.5em;
  }

  li{
    cursor: pointer;
  }
  
  .fa-xmark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: red;
    font-size: 1.5em;
  }
  
#vazia{
    color: red;
}

::-webkit-scrollbar{
    display: none;
}